.top_level_nav{
    background-color: darkolivegreen;
    overflow: hidden;
}

.top_level_nav a{
  float: left;
  color: black;
  text-align: center;
  padding: 5px 35px;
  text-decoration: none;
  font-size: 17px;
}

.top_level_nav a:hover {
    background-color: black;
    color: olive;
  }

.sidebar {
    height: 841%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 10px;
    background-color: darkolivegreen; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    margin-top:69px
  }

  .sidebar_main {
    position: absolute;
    width: 150px;
    margin-left: -200px;
    z-index: 0;
  }

body {
    background-color: gainsboro;
    font-family: Verdana, sans-serif;
}

h1 {
   text-align: center; 
}

